<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>enigma.io | html test</title>
        <!-- Bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <a href="/companies">
                    <div class="navbar-brand">Company Listings</div></a>
            </div>
        </div>
    </div>
    <div class="container">
    {% block body %}{% endblock %}
    </div>
  </body>
</html>
